@import url("https://p.typekit.net/p.css?s=1&k=waq7naz&ht=tk&f=10326.15815.26056.26060.26062.26063.31028.31030.31031&a=682332&app=typekit&e=css"); 
/* UNCHANGING STYLES */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;

}

.background_container {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent url('./assets/background.png') 0% 0% no-repeat;
  background-size: cover;
  opacity: 1;
  display: flex;
  flex-direction: column;

}

.earth {
  position: absolute;
  z-index: -1;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.earth_orbits_container {
  transform: scale(1);
  position: relative;
  left: 25%;
  width: 85%;
  height: 100%;
  /* overflow: hidden; */
}

/* .player {
  position: absolute;
  z-index: 1;
  width: 230%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.player {
  position: absolute;
  width: 105%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .lf-player-container {
  position: absolute;
  height: 100%;
} */

.leo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heo_orbit_moving {
  position: absolute;
  top: 69%;
  left: 30%;
  transform: translate(-30%, -68%);
  height: 105%;
  width: 99%;
}

.gso_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.geo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 104.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_container {
  position: absolute;
  height: 100%;
  width: 35%;
}

.orbit_title_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  z-index: 1;
  top: 5%;
  left: 8%;
  width: 92%;
  height: 35%;
}

.orbit_nav_button {
  position: relative;
  opacity: 1;
  margin-top: 1%;
  display: flex;
}

.orbit_nav_button_active {
  position: absolute;
  opacity: 1;
  width: 45%;
  height: 20%;

  margin-left: 6%;
  margin-top: 1%;
  font-size: 33px;
}

@font-face {
  font-family: "alternate-gothic-no-1-d";
  src: url("./alternate-gothic-no-1-d.otf") format("opentype");
}

.leo_outline {
  position: absolute;

}

.leo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 40%;
}

.meo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 32%;
}

.heo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 69%;
}

.gso_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 25%;
}

.geo_label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20%;
}

.gto_label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
}

.leo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  flex: 1;
} 

.meo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81%;
}

.heo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -68%);
  height: 68%;
}

.gso_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.geo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 9.4%;
}

.gto_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 6.9%;
}

.leo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
}

.meo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81%;
}

.heo_dotted {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-30%, -65%);
  height: 69%;
}

.gso_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.geo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 9.6%;
}

.gto_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 7.4%;
}

.line_to_orbit_container {
  display: flex;
  width: 100%;
}

/* These lines containers are sized at 1920x1080, will need to figure out something better */
.leo_line_container {
  position: absolute;
  top: 115%;
  left: 50%;
  height: 8%;
  /* width: 662px; */

}

.meo_line_container {
  position: absolute;
  top: 115%;
  left: 50%;
  height: 8%;

}

.heo_line_container {
  position: absolute;
  top:60%;
  left: 50%;
  height: 63%;

}

.gso_line_container {
  position: absolute;
  top: 115%;
  left: 50%;
  height: 8%;

}

.geo_line_container {
  position: absolute;
  top: 121%;
  left: 50%;
  height: 2%;

}

.gto_line_container {
  position: absolute;
  top: 122%;
  left: 60%;
  height: 1%;

}

.line,
.connecting_line {
  position: absolute;
  height: 2px;
  width: 0;
  transition: width 2s; /* Adjust the transition duration to match the animation duration */
  transform-origin: left;
}

.drawing .line {
  background-color: #d46410;
  width: 100%;
}

.drawing .connecting_line {
  background-color: #d46410;
  height: 100%;
  width: 2px;
  transition: height 2s; /* Adjust the transition duration to match the animation duration */
  transform-origin: top;
  top: 0;
  left: 0;
}

.drawing .connecting_line_dot {
  position: absolute;
  top: -5px;
  left: 99%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d9620d;
  opacity: 0; /* Initially hidden */
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-fill-mode: forwards; /* Retain the final state after animation */
}

.orbit_title_popup_container{
  position: relative;
  width: 92%;
  height: 52%;
  top: 48%;
}

.orbit_title_popup {
  border-top: #d46410 2px solid;
  background: rgb(29,59,76);
  opacity: 100%;
  position: relative;
  width: 92%;
  height: 95%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.orbit_title_info_header {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.51px;
  font-size: 33px;
  color: #fff;
  position: relative;
  height: 10%;
  padding-left: 7%;
  padding-top: 3%;
  justify-content: left;
  overflow: scroll;
  flex: 0.3;

}

.orbit_title_info_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 15px;
  line-height: 2;
  color:#fff;
  position: relative;
  left: 7%;
  width: 83%;
  display: block;
  padding-bottom: 2%;
  font-weight: 300;
  flex: 3;
  overflow: scroll;

}

.orbit_title_info_footer {
  position: relative;
  height: 5%;
  flex: 0.5;
  bottom: 0%;
}

.orbit_popup_button {
  position: absolute;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  bottom: 0%;
  left: 10%;
  width: 154px;
  height: 57px;
  cursor: pointer;
  background: #085988;
  color: #fff;
  opacity: 100%;
  z-index: 1;
}

.risk_icon {
  margin-right: 5%;
}

/* Orbit Closeup */
.orbit_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  scale: .10;
  top: -10px;
  left: 60px;
  transform: scale(12);
  transition: transform 1s ease;
}

.orbit_closeup_container {
  position: absolute;
  height: 100%;
  width: 35%;
  right: 0;
  background-color: #f3f2f1;
  opacity: 1 !important;
  animation-name: fly-in-right;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  z-index: 1;
}

.orbit_closeup_text {
  position: relative;
  text-align: left;
  top: 0%;
  height: 87%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-left: 7%;
  margin-top: 5%;
}

.orbit_closeup_back_button {
  width: 5%;
  height: 3%;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
  z-index: 1;
  flex: 0.10;
}

.orbit_closeup_satellite_icons {
  position: absolute;
  width: 10%;
  top: 15%;
  left: -6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectedSat {
  padding-top: 30%;;
}

.unselectedSat {
  padding-top: 30%;
}

.orbit_closeup_header {
  font-family: "acumin-pro", Bold, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.58px;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  flex: 0.3;
}

.orbit_closeup_subheader {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 33px;
  letter-spacing: 1.33px;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 5%;
  color: #363135;
  position: relative;
  text-align: left;
  opacity: 1;
  flex: 0.2;
}

.orbit_closeup_section_headings {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  letter-spacing: 1.33px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 5%;
  color: #363135;
  position: relative;
  text-align: left;
  opacity: 1;
}

.orbit_closeup_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 2;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-left: 3%;
  padding-right: 5%;
  flex: 3;
}

.orbit_closeup_button_group {
  position: absolute;
  bottom: 3%;
  right: 0%; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  opacity: 1 !important;
  z-index: 2;
  cursor: pointer;
  /* top: 85%; */
  flex: 1;
}

.orbit_closeup_button_outlined {
  margin-right: 5%;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  width: 175px;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7b726f;
}

.orbit_closeup_button_outlined:hover {
  background-color: white;
  color:#085988;
}

.orbit_closeup_button_plain {
  margin-top: 0.5%;
  margin-left: 5%;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  width: 154px;
  height: 57px;
  background: 0% 0% no-repeat padding-box;
  border: none;
}

.orbit_closeup_button_plain:hover {
  text-decoration: underline;
}

.orbit_closeup_button_plain:active {
  text-decoration: underline;
  color:#085988;
}

.orbit_closeup_button_outlined:active {
  color:#085988;
  border: 2px solid #085988;
}


/*this is the closeup player*/
.leo_orbit_details {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.meo_orbit_details {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.heo_orbit_details {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.static_satellite_closeup {
  animation-name: fly-in-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  left: 9%;

}

@keyframes fly-in-right {
  0% {
    opacity: 0%;
    transform: translateX(100%);
  }
  100% {
    opacity: 90%;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(13);

  }
  50% {
    opacity: 1;
    transform: scale(13);

  }
  100% {
    opacity: 0;
    transform: scale(13);

  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* EXTRA LARGE */
@media (min-width: 1921px) and (min-height: 1081px){

  .earth {
    position:absolute;
    height: 350px;
    width: 350px;
    left: 930px;
    top: 280px;
  
  }
  
  .player {
    position: absolute;
    height: 900px;
    width: 900px;
    top: 0px;
    left: 650px;
  }


}
@media (max-width: 1770px) {


}

@media (max-width: 1600px) {
  /* .orbit_title_popup_container {
    top: 45%;
    height: 55%;
    width: 110%;
    z-index: 2  ;
  } */
}

/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/


@media (max-width: 500px) {
  .background_container {
    position: relative;
  }

  .nav_container {
    top: 1%;
    width: 100%;
    display: inline-flex;
  }

  .earth_orbits_container {
    top: 10%;
    left: 0%;
    width: 100%;
    height: 60%;
  }

  .orbit_title_container {
    display: inline-flex;
    flex-direction: row; /* Horizontal alignment for mobile view */
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    max-width: 500px;
    height: 70px;
    width: 90%;
  }

  .orbit_title_group {
    flex-basis: 10%;
  }

  .orbit_nav_button {
    position: relative;
    opacity: 1;
    margin-top: 2%;
    padding: 1%;
}

.orbit_nav_button_image {
    object-fit: contain;
}

  .orbit_title_text {
    font-size: 20px; 
    padding-left: 5%; 
    top: 20%; 
    left: 10%; 
  }

  .orbit_title_popup_container {
    height: 45%;
    top: 52%;
  }

  .orbit_title_popup {
    /* right: 5%;
    width: 100%;
    height: 85%;
    top: 10%;
    display: flex;
    flex-direction: column; */
  }

  .player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.earth {
  position: absolute;
  z-index: -1;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 56%;
  flex: 1;
}

.meo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72%;
}

.heo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -68%);
  height: 53%;
}

.gso_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 88%;
}

.leo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 57%;
}

.meo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72%;
}

.heo_dotted {
  position: absolute;
  top: 69%;
  left: 30%;
  transform: translate(-30%, -68%);
  height: 85%;
  /* width: 99%; */
}

.gso_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 88%;
}

  .orbit_title_info_header {
    flex: 0.4;
  }
  
  .orbit_title_info_body {

  }
  
  .orbit_popup_button {
    /* bottom: 5% */
  }

  .orbit_closeup_container {
    width: 100%;
    height: 50%;
    top: 50%;
    overflow: scroll;
  }

  .orbit_closeup_satellite_icons {
    flex-direction: row;
    flex-wrap: nowrap;
    top: -10%;
    left: 50%;
  }

  .orbit_closeup_back_button {
    visibility: hidden;
  }

  .orbit_closeup_text {
    height: 79%;
  }

.orbit_closeup_header {
  font-size: 40px;
  letter-spacing: 1.58px;
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 0%;
}

.orbit_closeup_subheader {
  font-size: 25px;
  letter-spacing: 1.33px;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.orbit_closeup_body {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 2;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 5%;
}
}