@import url("https://p.typekit.net/p.css?s=1&k=waq7naz&ht=tk&f=10326.15815.26056.26060.26062.26063.31028.31030.31031&a=682332&app=typekit&e=css");
/* UNCHANGING STYLES */

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  overflow: hidden;
  --reset_selection_left: 180px;
}

.background_container {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent url('./assets/background.png') 0% 0% no-repeat;
  background-size: cover;
  opacity: 1;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.splash_screen_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(113deg, #0024394D 0%, #3631354D 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}

.splash_screen_text {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 28%;
  left: 10%;
  color: white;
  text-align: left;
  z-index: 2;

}

.splash_screen_title {
  -webkit-font-smoothing: antialiased;
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 1.92px;
  margin-bottom: 10px;
}

.splash_screen_subtitle {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-weight: 300;
  font-size: 33px;
  letter-spacing: 1.51px;
  margin-bottom: 30px;
}

.splash_screen_body {
  font: normal normal normal 16px/24px "acumin-pro", sans-serif;
  width: 38%;
  line-height: 1.8;
  margin-bottom: 12px;

}

.splash_screen_button {
  position: absolute;
  top: 100%;
  max-width: 80%;
  white-space: nowrap;
  height: 57px;
  background-color: #F3F2F1;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 33px;
  letter-spacing: 1.92px;
  color: #002439;
  cursor: pointer;
  border-style: none;
  padding: 0 32px;
}

.splash_screen_button:hover {
  background-color: white;
  color: #085988;
}

.splash_screen_button:focus {
  color: #085988;
  border: 2px solid #085988;
}

.earth {
  position: absolute;
  z-index: -1;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.earth_orbits_container {
  transform: scale(1);
  transition: transform 1s ease-in; /* It seems I need to set initial properties for transition & transform-origin, otherwise the fly intransition doesn't work the first time */
  transform-origin: 50% 20%;
  position: relative;
  left: 25%;
  width: 85%;
  height: 100%;
  z-index: 0;
}

.reset_selection {
  left: var(--reset_selection_left);
  position: absolute;
  opacity: 30%;
  align-self: flex-end;
  z-index: 2;
}

.reset_selection.top {
  /* background-color: red; */
  height: 49vh;
  width: 100%;
}

.reset_selection.bottom {
  /* background-color: green; */
  height: 51vh;
  top: 49vh;
  left: 39vw;
  width: calc(56vw + var(--reset_selection_left));

}

.player {
  position: absolute;
  width: 105%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.meo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.heo_orbit_moving {
  position: absolute;
  top: 69%;
  left: 30%;
  transform: translate(-30%, -68%);
  height: 105%;
  width: 99%;
  z-index: 1;
}

.gso_orbit_moving {
  position: absolute;
  width: 100%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.geo_orbit_moving {
  position: absolute;
  width: 100%;
  height: 104.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav_container {
  position: absolute;
  height: 100%;
  width: 35vw;
  animation-name: fade-in;
  animation-duration: 2s;
  z-index: 1;
}

.orbit_title_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  z-index: 1;
  top: 5%;
  left: 8%;
  width: 92%;
  height: 35%;
}

.orbit_nav_button {
  position: relative;
  opacity: 0.75;
  margin-top: 1%;
  display: flex;
  cursor: pointer;
}

.orbit_nav_button:hover {
  position: relative;
  opacity: 0.75;
  margin-top: 1%;
  display: flex;
}

.orbit_nav_button:focus {
  position: relative;
  opacity: 1;
  margin-top: 1%;
  display: flex;
}

@font-face {
  font-family: "alternate-gothic-no-1-d";
  src: url("./alternate-gothic-no-1-d.otf") format("opentype");
}

.leo_outline {
  position: absolute;

}

.leo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 40%;
}

.meo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 32%;
}

.heo_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 69%;
}

.gso_label {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 25%;
}

.geo_label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20%;
}

.gto_label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
}

.leo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  flex: 1;
}

.meo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81%;
}

.heo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-34%, -68%);
  height: 68%;
}

.gso_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.geo_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 9.4%;
}

.gto_fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 6.9%;
}

.leo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
}

.meo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81%;
}

.heo_dotted {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-30%, -65%);
  height: 69%;
}

.gso_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.geo_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 9.6%;
}

.gto_dotted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 7.4%;
}

.leo_solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
}

.meo_solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 81%;
}

.heo_solid {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-30%, -65%);
  height: 69%;
}

.gso_solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.geo_solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 9.6%;
}

.gto_solid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 7.4%;
}

.gto_solid_lighter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 7.4%;
  opacity: 0.15;
}

.gto_solid_active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -50%);
  height: 7.4%;
  opacity: 0.45;
}

/* These lines containers are sized at 1920x1080, will need to figure out something better */
.leo_line_container,
.meo_line_container,
.gso_line_container {
  position: absolute;
  top: 115%;
  left: 50%;
  height: 13%;
}

.heo_line_container {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 68%;
}

.geo_line_container {
  position: absolute;
  top: 125%;
  left: 50%;
  height: 2%;

}

.gto_line_container {
  position: absolute;
  top: 126%;
  left: 60%;
  height: 1%;

}

.line,
.connecting_line {
  position: absolute;
  height: 2px;
  width: 0;
  transition: width 2s;
  /* Adjust the transition duration to match the animation duration */
  transform-origin: left;
  z-index: 3;
}

.drawing .line {
  background-color: #d46410;
  width: 100%;
}

.drawing .connecting_line {
  background-color: #d46410;
  height: 100%;
  width: 2px;
  transition: height 2s;
  /* Adjust the transition duration to match the animation duration */
  transform-origin: top;
  top: 0;
  left: 0;
}

.drawing .connecting_line_dot {
  position: absolute;
  top: -5px;
  left: 99%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d9620d;
  opacity: 0;
  /* Initially hidden */
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.orbit_title_popup_container {
  position: relative;
  width: 92%;
  height: 52%;
  top: 48%;
}

.orbit_title_popup {
  border-top: #d46410 2px solid;
  background: rgb(29, 59, 76);
  opacity: 100%;
  position: relative;
  width: 37vw;
  height: 92%;
  top: 3%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.orbit_title_info_header {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.51px;
  font-size: 33px;
  color: #fff;
  position: relative;
  padding-left: 7%;
  padding-top: 3%;
  justify-content: left;
  flex: 0.3;

}

.orbit_title_info_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #fff;
  position: relative;
  left: 7%;
  width: 83%;
  display: block;
  padding-bottom: 2%;
  font-weight: 300;
  flex: 3;
  overflow: auto;

}

.orbit_title_info_footer {
  position: relative;
  height: 5%;
  flex: 0.5;
  bottom: 0%;
}

.orbit_popup_button {
  position: absolute;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  bottom: 0%;
  left: 10%;
  width: 154px;
  height: 57px;
  cursor: pointer;
  background: #085988;
  color: #fff;
  border: none;
  opacity: 100%;
  z-index: 1;
}

.orbit_popup_button:hover {
  background: #0E6EA6;
}

.orbit_popup_button:active {
  background: #0E6EA6 0% 0% no-repeat padding-box;
  border: 4px solid #195788;
}

.risk_icon_container {
  position: absolute;
  width: 15vw;
  z-index: 2;
  white-space: nowrap;

}

.risk_icon {
  margin-right: 5%;

}

/* Orbit Closeup */
.orbit_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  scale: .10;
  top: -10px;
  left: 60px;
  transform: scale(12);
  transition: transform 1s ease;
  animation: fade-in 1s ease-in forwards; 
}

.orbit_closeup_container {
  position: absolute;
  height: 100%;
  width: 35vw;
  right: 0;
  background-color: #f3f2f1;
  opacity: 1 !important;
  animation-name: fly-in-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 2;
}



.orbit_closeup_text {
  position: relative;
  text-align: left;
  top: 0%;
  height: 87%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-left: 9%;
  margin-top: 5%;
}

.orbit_closeup_back_button {
  width: 21px;
  height: 21px;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
  z-index: 1;
  flex: 0.10;
  cursor: pointer;
}

.orbit_closeup_satellite_icons {
  position: absolute;
  /* width: 50px; */
  top: 15vh;
  right: 35vw;
  transform: translate(50%);
  /* left: -6vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectedSat {
  padding-top: 30%;
  height: 50px;
}

.unselectedSat {
  padding-top: 30%;
  height: 50px;
}

.orbit_closeup_header {
  font-family: "acumin-pro", Bold, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.58px;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 30px;
}

.orbit_closeup_subheader {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 33px;
  letter-spacing: 1.33px;
  padding-bottom: 32px;
  padding-left: 3%;
  padding-right: 5%;
  color: #363135;
  position: relative;
  text-align: left;
  opacity: 1;
}

.orbit_closeup_section_headings {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  letter-spacing: 1.33px;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 12px;
  color: #363135;
  position: relative;
  text-align: left;
  opacity: 1;
}

.orbit_closeup_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 18px;
}

.orbit_closeup_button_group {
  position: absolute;
  bottom: 3%;
  right: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 1 !important;
  z-index: 2;

}

.orbit_closeup_button_outlined {
  margin-right: 5%;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  max-width: 50%;
  width: 175px;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7b726f;
  cursor: pointer;
  color: #002439;
  flex: 0.4;

}

.orbit_closeup_button_outlined:hover {
  background-color: white;
  color: #085988;
}

.orbit_closeup_button_plain {
  margin-top: 0.5%;
  margin-left: 5%;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  max-width: 50%;
  width: 154px;
  height: 57px;
  background: 0% 0% no-repeat padding-box;
  border: none;
  cursor: pointer;
  color: #002439;
  white-space: nowrap;
  flex: 0.4;
}

.orbit_closeup_button_plain:hover {
  text-decoration: underline;
  color: #085988;
}

.orbit_closeup_button_plain:active {
  text-decoration: underline;
  color: #085988;
}

.orbit_closeup_button_outlined:active {
  color: #085988;
  border: 2px solid #085988;
}


/*this is the closeup player*/
.leo_orbit_details,
.meo_orbit_details,
.heo_orbit_details,
.gso_orbit_details,
.geo_orbit_details {
  position: absolute;
  top: -10vh;
  height: 100vh;
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.static_satellite_closeup {
  animation-name: fly-in-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  left: 9%;

}

@keyframes fly-in-right {
  0% {
    opacity: 0%;
    transform: translateX(100%);
  }

  100% {
    opacity: 90%;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(13);

  }

  50% {
    opacity: 1;
    transform: scale(13);

  }

  100% {
    opacity: 0;
    transform: scale(13);

  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/* EXTRA LARGE */
@media (min-width: 1921px) and (min-height: 1081px) {

  .earth {
    position: absolute;
    height: 350px;
    width: 350px;
    left: 930px;
    top: 280px;

  }

  .player {
    position: absolute;
    height: 900px;
    width: 900px;
    top: 0px;
    left: 650px;
  }


}

@media (max-width: 1770px) {}

@media (max-width: 750px) {
  .splash_screen_body {
    width: 90%;
  }

  .orbit_closeup_text {
    margin-left: 12%;
  }

  .orbit_closeup_button_outlined {
    font-size: 30px;
  }

  .orbit_closeup_button_plain {
    font-size: 30px;
  }
}

/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/
 .hidden {
   display: none !important
 }
.orbit_closeup_back_button_mobile {
  visibility: hidden;
}


@media (max-width: 500px) {
  :root {
    --mobile-orbit-size: 360px;
    --mobile-view-width: 90vw;
    --mobile-view-splash-body-width: 60vw;
  }

  .orbit_closeup_back_button_mobile {
    visibility: visible;
    position: relative;
    top: -48.5vh;
    left: 91vw;
  }

  .background_container {
    /* outline: 12px dotted pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .nav_container {
    /* outline: 2px dotted yellow; */
    width: var(--mobile-view-width);
    animation-name: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: static;
    margin-top: 20px;
  }

  /* Horizontal alignment for mobile view */
  .orbit_title_container {
    position: static;
    width: var(--mobile-view-width);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    align-self: center;
    margin-left: 6vw;
  }

  .orbit_nav_button,
  .orbit_nav_button_group {
    /* outline: 2px dotted red; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .orbit_name {
    position: relative;
    width: 0;
  }

  .orbit_name.meo {
    top: 0px;
    left: 8px;
  }

  .orbit_name.leo {
    top: 0px;
    left: 8px;
  }

  .orbit_name.gso {
    top: 0px;
    left: -89px;
  }

  .orbit_name.heo {
    top: 8px;
    left: 71px;
  }

  .orbit_name.geo {
    user-select: none;
    top: 8px;
    left: -17px;
  }

  .orbit_name.gto {
    top: 8px;
    left: -51px;
  }

  .visible {
    opacity: 1;
  }

  .invisible {
    opacity: 0;
  }

  .orbit_nav_button_image {
    /* outline: 2px dotted yellow; */
    position: relative;
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 40px;

  }

  .reset_selection {
    opacity: 30%;
    align-self: flex-end;
    z-index: 2;
  }

  .reset_selection.top {
    left: 0;
    top: 90px;
    height: calc(46% - 90px);
    width: 100vw;
  }

  .reset_selection.bottom {
    display: none;
  }

  .splash_screen_background {
    /* outline: 2px dotted violet; */
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    justify-content: flex-end;
    z-index: 2;
  }

  .splash_screen_text {
    /* outline: 2px dotted green; */
    overflow: auto;
    margin-top: 90px;
    height: 85%;
    padding-bottom: 30px;
    position: static;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .splash_screen_title {
    font-size: 12vw;
  }

  .splash_screen_subtitle {
    font-size: 8vw;
    margin-bottom: 40px;
  }

  .splash_screen_button {
    width: var(--mobile-view-splash-body-width);
    border-style: none;
    position: static;
    max-width: unset;
    height: fit-content;
    padding: 10px;
  }

  .splash_screen_body {
    width: var(--mobile-view-splash-body-width);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .popup_line_container,
  .earth_orbits_container {
    position: fixed;
    aspect-ratio: 1;
    top: 90px;
    left: 50%;
    translate: -50%;
    height: var(--mobile-orbit-size);
    min-width: var(--mobile-orbit-size);
    max-width: var(--mobile-orbit-size);
    z-index: -1;

  }

  .earth {
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 53%;
    height: auto;
  }

  .orbit_title_text {
    font-size: 20px;
    padding-left: 15%;
    top: 20%;
    left: 10%;
  }

  .orbit_title_popup_container {
    /* outline: 6px dotted turquoise; */
    position: absolute;
    height: 55%;
    top: 47%;
    z-index: 1;
    flex: 5;
    display: flex;
    justify-content: center;
    /* background image will hide the connecting line underneath the popup container at smaller heights */
    background-image: url('./assets/background.png');

  }

  .orbit_title_popup {
    /* outline: 2px dotted orange; */
    padding-top: 10px;
    width: var(--mobile-view-width);
    left: 0%;
    height: 90%;
    top: 0;
  }

  .orbit_popup_button {
    border-style: none;
    font-size: 20px;
    padding: 10px 25px;
    bottom: 7%;
    left: 10%;
    width: fit-content;
    height: fit-content;
  }

  .orbit_title_info_header {
    overflow: unset;
    height: fit-content;
    width: 90%;
  }

  .orbit_title_info_body {
    font-size: 12px;
    width: 85%;
    flex: 2;
  }


  .drawing {
    /* outline: 4px dotted red; */
    rotate: 270deg;
    width: 500px !important;
  }

  .drawing .line {
    background-color: #d46410;
  }

  .drawing .connecting_line {
    visibility: hidden;
  }

  .drawing .connecting_line_dot {
    position: absolute;
    top: -5px;
    left: 100%;
    height: 12px;
    width: 12px;

  }

  ._label img {
    height: 25px;
    position: absolute;
    z-index: 2
  }

  ._dotted img,
  ._fill img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  ._fill img {
    position: absolute;
    z-index: -2;
  }

  .gto img,
  .geo img,
  .heo img {
    transform: translate(-49.9%, -49.9%);
  }


  .leo_line_container {
    top: 454px;
    left: -167px;
    height: 8%;
  }

  .leo_label {
    left: 100px;
    top: 72px;
    height: 8%;
  }

  .meo_line_container {
    top: 463px;
    left: -197px;
    height: 8%;
  }

  .meo_label {
    left: 79px;
    top: 47px;
  }

  .heo_line_container {
    top: 257px;
    left: 151px;
    height: 63%;
  }

  .heo_label {
    left: 316px;
    top: 67px
  }

  .heo_solid {
    top: 36%;
    left: 59%;
  }

  .gso_line_container {
    top: 521px;
    left: 91px;
    height: 8%;
  }

  .gso_label {
    left: 73px;
    top: 14px;
  }

  .geo_line_container {
    top: 438px;
    left: 83px;
    height: 2%;
  }

  .geo_label {
    left: 45px;
    top: 190px;
  }

  .geo_fill {
    top: 51%;
  }

  .gto_line_container {
    top: 436px;
    left: 67px;
    height: 1%;
  }

  .gto_label {
    left: 125px;
    top: 184px;
  }

  .gto_solid_active {
    height: 7.4%;
    left: 61%;
    top: 49%;
  }



  .lf-player-container {
    /* outline: 9px dotted green; */
    width: 100%;
    height: 100%;
  }

  .lf-player-container div {
    /* outline: 4px dotted purple; */
    position: absolute;
    height: 105%;
    width: 105%;
    z-index: 1;
  }

  .heo_orbit_moving {
    left: 29%;
  }

  .geo_orbit_moving {
    top: 49.9%
  }

  .gto_orbit_moving {
    top: 0;
    left: 0;
  }


  .orbit_closeup_container {
    width: 100%;
    height: 50%;
    top: 50%;
  }

  .orbit_closeup_satellite_icons {
    float: right;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    top: -30px;
    height: fit-content;
    left: 0;
    transform: unset;
  }

  .orbit_closeup_satellite_icons img {
    margin-right: 16px;
    padding: 0;
  }

  .orbit_closeup_back_button {
    visibility: hidden;
  }

  .orbit_closeup_text {
    /* outline: 2px dotted tomato; */
    max-width: 100vw;
    padding: 0 40px;
    height: 73%;
    margin-left: 0%;
    margin-top: 3%;
  }

  .orbit_closeup_header {
    font-size: 40px;
    letter-spacing: 1.58px;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 0%;
  }

  .orbit_closeup_subheader {
    font-size: 25px;
    letter-spacing: 1.33px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
  }

  .orbit_closeup_body {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 2;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .static_satellite_closeup {
    height: 35%;
    top: 3%;
    left: 1%;
  }

  .orbit_background {
    width: 150vw;
    left: -60px;
    top: 25px;
    height: 45%;
  }

  .orbit_closeup_button_plain,
  .orbit_closeup_button_outlined {
    font-size: 24px;
    padding: 12px 32px;
    height: fit-content;
  }

  .leo_orbit_details,
  .meo_orbit_details,
  .heo_orbit_details,
  .gso_orbit_details,
  .geo_orbit_details {
    position: absolute;
    top: -26%;
    user-select: none;
    z-index: 0 !important;
  }
}


@media (max-width: 400px) {
  :root {
    --mobile-orbit-size: 330px;
  }

  .leo_line_container {
    top: 452px;
  }

  .leo_label {
    left: 67px;
    top: 85px;
  }

  .meo_line_container {
    left: -167px;
    top: 499px;
  }

  .meo_label {
    left: 42px;
    top: 85px;
  }

  .heo_line_container {
    left: 113px;
    top: 262px;
  }

  .heo_label {
    left: 211px;
    top: 67px;

  }

  .gso_line_container {
    top: 467px;
    left: 79px;
  }

  .gso_label {
    left: 20px;
    top: 50px;
  }

  .geo_line_container {
    top: 426px;
    left: 19px
  }

  .geo_label {
    left: 46px;
    top: 156px;
  }

  .gto_line_container {
    top: 421px;
    left: 22px;
  }

  .gto_label {
    left: 306px;
    top: 148px;
  }
}

@media (max-width: 360px) {
  :root {
    --mobile-orbit-size: 306px;
    --mobile-view-splash-body-width: 70vw;
  }

  .splash_screen_text {
    margin-top: 30%;
  }

  .leo_line_container {
    top: 448px;
  }

  .leo_label {
    left: 82px;
    top: 59px;
  }

  .meo_line_container {
    left: -197px;
    top: 451px;
  }

  .meo_label {
    left: 67px;
    top: 36px;
  }


  .heo_line_container {
    left: 100px;
    top: 242px;
  }

  .heo_label {
    left: 268px;
    top: 53px;
  }

  .gso_line_container {
    top: 452px;
    left: 55px;
  }

  .gso_label {
    left: 53px;
    top: 13px;
  }

  .geo_line_container {
    top: 412px;
    left: 19px
  }

  .geo_label {
    left: 46px;
    top: 162px;
  }

  .gto_line_container {
    top: 410px;
    left: 5px;
  }

  .gto_label {
    left: 108px;
    top: 155px;
  }
}

@media (max-width: 320px) {
  :root {
    --mobile-orbit-size: 272px;
  }

  .leo_line_container {
    top: 438px;
  }

  .leo_label {
    left: 75px;
    top: 48px;
  }

  .meo_line_container {
    left: -208px;
    top: 421px;
  }

  .meo_label {
    left: 61px;
    top: 30px;
  }

  .heo_line_container {
    left: 57px;
    top: 250px;
  }

  .heo_label {
    left: 238px;
    top: 45px;
  }

  .gso_line_container {
    top: 434px;
    left: 20px;
  }

  .gso_label {
    left: 53px;
    top: 6px;
  }

  .geo_line_container {
    top: 394px;
    left: -13px;
  }

  .geo_label {
    left: 48px;
    top: 144px;
  }

  .geo_fill {
    top: 51%;
  }

  .gto_line_container {
    top: 390px;
    left: -2px;
  }

  .gto_label {
    left: 100px;
    top: 140px;
  }
}

@media (max-height: 640px) {

  /* Shrink popup container for shorter height devices */
  .orbit_title_popup_container {
    height: 45%;
    top: 55%;
  }
}