@import url("https://p.typekit.net/p.css?s=1&k=waq7naz&ht=tk&f=10326.15815.26056.26060.26062.26063.31028.31030.31031&a=682332&app=typekit&e=css"); 
/* UNCHANGING STYLES */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.background_container {
  position:absolute;
  height: 100%;
  width: 100%;
  background: transparent url('./assets/background.png') 0% 0% no-repeat;
  background-size: cover;
  opacity: 1;
  display: grid;
  grid-template-columns: 3% 30% 70%;
}

.nav_container {
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 3% 35% 65% 3%;
  /* padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%; */
}

.orbit_title_container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 20%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
  z-index: 1;

}

.orbit_popup_container {
  grid-row-start: 3;
  grid-row-end: 4;

}

.orbit_nav_button {
  position: absolute;
  opacity: 1;
}

#leo_nav_button {
  grid-row: 1/2;
}

#meo_nav_button {
  grid-row: 2/3;
}

#heo_nav_button {
  grid-row: 3/4;
}
#gso_nav_button {
  grid-row: 4/5;
}
#geo_nav_button {
  grid-row: 5/6;
}
#gto_nav_button {
  grid-row: 6/7;
}

.orbit_nav_button_image {

}

.earth {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 7;
}

.lf-player-container {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 10;
}

.player {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 10;
}

.leo_player {
  position: absolute;

}

.orbit_nav_button_active {
  position: absolute;
  opacity: 1;
  width: 45%;
  height: 20%;

  margin-left: 6%;
  margin-top: 1%;
  font-size: 33px;
}

@font-face {
  font-family: "alternate-gothic-no-1-d";
  src: url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9fa845/000000000000000000010d5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "acumin-pro";
  src: url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.leo_outline {
  position: absolute;

}

.leo_label {
  position: absolute;
  z-index: 1;
}

.leo_fill {
  position: absolute;

}

.leo_dotted {
  position: absolute;

}

.leo_line_container {
  position: absolute;

}

.line,
.connecting_line {
  position: absolute;
  height: 2px;
  width: 0;
  transition: width 2s; /* Adjust the transition duration to match the animation duration */
  transform-origin: left;
}

.drawing .line {
  background-color: #d46410;
  width: 100%;
}

.drawing .connecting_line {
  background-color: #d46410;
  height: 100%;
  width: 2px;
  transition: height 2s; /* Adjust the transition duration to match the animation duration */
  transform-origin: top;
  top: 0;
  left: 0;
}

.drawing .connecting_line_dot {
  position: absolute;
  top: -5px;
  left: 99%;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d9620d;
  opacity: 0; /* Initially hidden */
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-fill-mode: forwards; /* Retain the final state after animation */
}

.meo_fill {
  position: absolute;

}

.meo_dotted {
  position: absolute;

}

.meo_line_container {
  position: absolute;
}

.heo_fill {
  position: absolute;

}

.heo_dotted {
  position: absolute;

}

.heo_line_container {
  position: absolute;
}

.gso_fill {
  position: absolute;

}

.gso_dotted {
  position: absolute;

}

.gso_line_container {
  position: absolute;
}

.geo_fill {
  position: absolute;

}

.geo_dotted {
  position: absolute;

}

.geo_line_container {
  position: absolute;
}

.gto_fill {
  position: absolute;

}

.gto_dotted {
  position: absolute;

}

.gto_line_container {
  position: absolute;
}

.orbit_title_popup {
  border-top: #d46410 2px solid;
  background: rgb(29,59,76);
  opacity: 100%;
  position: relative;
  height: 65%;
  top: 10%;
}

.orbit_title_info_header {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  letter-spacing: 1.51px;
  font-size: 33px;
  color: #fff;
  position: relative;
  height: 10%;
  padding-left: 7%;
  padding-top: 5%;
  justify-content: left;
  opacity: 100%;
}

.orbit_title_info_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 2;
  color:#fff;
  position: relative;
  top: 5%;
  left: 7%;
  right: 10%;
  display: block;
  padding-right: 20%;
  font-weight: normal;
}

.orbit_popup_button {
  position: absolute;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 35px;
  top: 95%;
  left: 30px; /* Change to percentage */
  width: 154px;
  height: 57px;
  cursor: pointer;
  background: #085988;
  color: #fff;
  opacity: 100%;
  z-index: 1;
}

.orbit_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  scale: .10;
  top: -10px;
  left: 60px;
  transform: scale(12);
  transition: transform 1s ease;
}

.earth_orbits_container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.orbit_closeup_container {
  position: absolute;
  height: 100%;
  right: 0;
  background-color: #f3f2f1;
  opacity: 0%;
  animation-name: fly-in-right;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; /* Retain the final state after animation */
}

.orbit_closeup_text {
  position: relative;
  padding-top: 2%;
  padding-left: 5%;
}

.orbit_closeup_header {
  font-family: "acumin-pro", Bold, sans-serif;
  font-size: 68px;
  letter-spacing: 1.58px;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
}

.orbit_closeup_subheader {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 45px;
  letter-spacing: 1.33px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 5%;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
}

.orbit_closeup_body {
  font-family: "acumin-pro", sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 2;
  color: #363135;
  position: relative;
  justify-content: left;
  opacity: 1;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 5%;
}

@keyframes fly-in-right {
  0% {
    opacity: 0%;
    transform: translateX(100%);
  }
  100% {
    opacity: 90%;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(13);

  }
  50% {
    opacity: 1;
    transform: scale(13);

  }
  100% {
    opacity: 0;
    transform: scale(13);

  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* EXTRA LARGE */
/* @media (min-width: 1921px) and (min-height: 1081px){

  .earth {
    position:absolute;
    height: 350px;
    width: 350px;
    left: 930px;
    top: 280px;
  
  }
  
  .player {
    position: absolute;
    height: 900px;
    width: 900px;
    top: 0px;
    left: 650px;
  }


} */


@media (max-width: 500px) {
  .background_container {
    flex-direction: row; /* Horizontal alignment for mobile view */
  }

  .orbit_title_container {
    flex-direction: row; /* Horizontal alignment for mobile view */
    padding-top: 10%;
  }

  .orbit_title_group {
    flex-basis: 50%; /* Make each element take 50% of the container width */
    border-left: none; /* Remove the border */
    border-top: #fff 3px solid; /* Add a top border */
    margin-left:3%; /* Adjust the left margin */
    margin-right: 3%; /* Adjust the right margin */
  }

  .orbit_title_text {
    font-size: 20px; /* Reduce the font size */
    padding-left: 5%; /* Reduce the left padding */
    top: 20%; /* Adjust the top position */
    left: 10%; /* Adjust the left position */
  }

  .orbit_title_popup {
    top: 56%; /* Adjust the top position */

  }

  .leo_fill {
    width: 290px; /* Reduce the width */
    height: 290px; /* Reduce the height */
    transform: translate(-49%, -100%);
  }

  .player {
    width: 450px; /* Reduce the width */
    height: 450px; /* Reduce the height */
    transform: translate(-50%, -82%);
  }

  .leo_player {
    width: 450px; /* Reduce the width */
    height: 450px; /* Reduce the height */
    transform: translate(-50%, -82%);
  }

  .earth {
    width: 210px; /* Reduce the width */
    height: 210px; /* Reduce the height */
    transform: translate(-50%, -120%);
  }
}